/*-----------
   IMPORT
------------*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");


/*-----------
   BASE
------------*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}

strong{
    font-weight: 500;
}
/*-----------
   HEADER
------------*/

.header-position{
    position: relative;
    width: 100%;
    min-height: 120px;
}

.header{
    display: grid;
    align-items: center;
    margin: auto;
}

.logo{
    grid-area: logo;
    padding: 0 2rem;
    height: 2.813rem;
}

.h-navigation{
    position: relative;
    display: flex;
    grid-area: navbar;
}


.h-nav-link {
    padding: 2rem;
    font-weight: 400;
    text-align: center;
    transition-duration: 0.1s;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
}

.h-nav-link[data-active=true] {
    color: #0065FC;
}

.h-nav-link:hover {
    color: #0065FC;
}

.h-sinscrire{
    display: flex;
    align-items: center;
    grid-area: button;
    padding: 2rem;
    color: #0065FC;
    font-weight: 600;
}

.h-hebergement{
    border-top: 4px solid #0065FC;
}

.hebergement-main-h-title{
    font-weight: 600;
}


@media screen and (min-width: 601px) {
    .header {
        grid-template-columns: auto 1fr auto auto;
        grid-template-areas: "logo . navbar button";
    }
    .h-nav-link[data-active=true] {
        border-top: 3px solid #0065FC;
    }
    .h-nav-link:hover {
        border-top: 3px solid #0065FC;
    }
    .h-sinscrire{
        margin-right: 40px !important;
    }
}

@media screen and (max-width: 600px) {

    .navigation{
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "Logo . SignUp" "NavBar NavBar NavBar";
        flex: 1;
        background-color: #FFF;
        position: sticky;
        top: 0;
    }

    .navigation-resp{
        grid-area: NavBar;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .h-nav-link {
        border-top: none;
        border-bottom: 3px solid #F2F2F2;
        width: 50%;
    }

    .h-nav-link[data-active=true] {
        border-bottom-color: #0065FC;
    }
    .h-nav-link:hover {
        border-bottom-color: #0065FC;
    }

    .main{
        padding: 0 20px !important;
    }
    .header {
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "logo . button" "navbar navbar navbar";
    }
    .logo {
        order: 0;
    }
    .h-sinscrire {
        order: 1;
    }
    .h-navigation {
        order: 2;
    }


    .h-hebergement{
        border-top: none;
        display: none;
    }
    .h-hebergement, .h-activites {
        border-bottom: 3px solid #F2F2F2;
        width: 50%;
        display: none;
    }
    .h-hebergement, .h-activites[data-active=true] {
        border-bottom-color: #0065FC;
    }
    .h-hebergement, .h-activites {
        border-bottom-color: #0065FC;
    }



    .search-subtitle {
        font-size: 15px !important;
    }

    .form-search-input{
        padding: 0 20px !important;
    }


}


/*-----------
    MAIN
------------*/

.main {
    margin: auto;
    padding: 0 40px;
    box-sizing: border-box;
}

.search-title {
    color: #1F1F1F;
    margin-bottom: 0.5rem;
    font-size: 22px;
    font-weight: 700;
    margin-top: 40px;
}

.search-subtitle {
    color: #1F1F1F;
    margin-top: 0;
    font-size: 16px;
}


.form{
    display: inline-flex;
    margin-top: 20px;
    width: 420px;
    height: 51px;
    border-radius: 15px;
    background: #fff;
    border: 2px solid #f2f2f2;
}

.form-icon{
    width: 52px;
    height: 49px;
    border-radius: 14px 0 0 14px;
    background: #f2f2f2;
}

.fa-map-marker-alt{
    padding: 15px 5px 10px 20px;
}

.rechercher{
    display: flex;
    flex-wrap: wrap;
    width: 140px;
    height: 48px;
    border-radius: 0 15px 15px 0;
    background: #0065fc;
    overflow: visible;
}
.form-link:visited{
    color: #0065fc;
}
.rechercher:visited{
    color: inherit;
}

.rechercher-text:visited{
    color: inherit;
}

.rechercher-text{
    padding: 15px 10px 15px 20px;
    color: white;
    font-weight: bold;
    font-size: 17px;
}

@media screen and (max-width: 600px){
    .rechercher-text{
        display: none;
    }
    .icon-recherche{
        color: #fff;
        font-size: 18px;
        padding: 15px !important;
    }
    .rechercher{
        align-content: center;
        border-radius: 15px;
        width: 50px;
    }
    .form{
        width: 330px;
    }
    .form-search-input{
        padding: 0 10px !important;
    }
}

@media screen and (min-width: 601px){
    .icon-recherche{
        display: none !important;
    }
}

.form-search-input{
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: none;
    padding: 0 0;
    box-sizing: border-box;
    width: 14rem;
    font-size: 1rem;
    font-weight: bold;
    bottom: 532px;
    left: 160px;
    overflow: visible;
}

.form-search-input:focus{
    outline: none;
}

.form-search-input::placeholder {
    font-size: 1rem;
    color: #1F1F1F;
}

/*-----------
   FILTER
------------*/

.filter{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.filter-title{
    display: flex;
    align-items: center;
    margin: 0 30px 1rem 0;
    font-weight: 700;
}

/*---FilterName---*/

.filtre-economy{
    display: flex;
    align-items: center;
    width: 195px;
    height: 48px;
    border-radius: 24px;
    background: #fff;
    border: 2px solid #d9d9d9;
    bottom: 440px !important;
    left: 160px;
    margin-right: 20px;
    transition-duration: 0.5s;
    margin-bottom: 1rem;
}

.filtre-familial{
    display: flex;
    align-items: center;
    width: 155px;
    height: 48px;
    border-radius: 24px;
    background: #fff;
    border: 2px solid #d9d9d9;
    bottom: 440px !important;
    left: 160px;
    margin-right: 2rem;
    transition-duration: 0.5s;
    margin-bottom: 1rem;
}

.filtre-chic{
    display: flex;
    align-items: center;
    width: 185px;
    height: 48px;
    border-radius: 24px;
    background: #fff;
    border: 2px solid #d9d9d9;
    bottom: 440px !important;
    left: 160px;
    margin-right: 2rem;
    transition-duration: 0.5s;
    margin-bottom: 1rem;
}

.filtre-animals{
    display: flex;
    align-items: center;
    width: 230px;
    height: 48px;
    border-radius: 24px;
    background: #fff;
    border: 2px solid #d9d9d9;
    bottom: 440px !important;
    left: 160px;
    margin-right: 2rem;
    transition-duration: 0.5s;
    margin-bottom: 1rem;
}

.filtre-animals:hover{
    transform: scale(0.92);
    color: #0065fc;
    cursor: pointer;
}


.filtre-economy:hover{
    transform: scale(0.92);
    color: #0065fc;
    cursor: pointer;
}

.filtre-chic:hover{
    transform: scale(0.92);
    color: #0065fc;
    cursor: pointer;
}

.filtre-familial:hover{
    transform: scale(0.92);
    color: #0065fc;
    cursor: pointer;
}

/*---FilterType---*/
.filter-round{
    margin: -2px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 48px;
    height: 48px;
    background: #deebff;
    border-radius: 100%;
}

/*---FilterIcon---*/

.filtre-economy-icon{
   color: #0065fc;
}

.filtre-familial-icon{
    color: #0065fc;
}

.filtre-chic-icon{
    color: #0065fc;
}

.filtre-animals-icon{
    color: #0065fc;
}

/*---FilterTitle---*/

.filtre-economy-title{
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}

.filtre-familial-title{
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}

.filtre-chic-title{
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}

.filtre-animals-title{
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}

/*---Information---*/

.information{
    display: flex;
    margin-top: 10px;
    align-items: center;
    margin-bottom: 30px;
}

.information-i{
    width: 24px;
    height: 24px;
    background: #fff;
    border: 1px solid #e2e2e2;
    min-height: 2rem;
    min-width: 2rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.inforamtion-i-icon{
    color: #0065fc;
}

.information-text{
    font-size: 16px;
    font-weight: 300;
}

/*---Hebergement---*/

@media (max-width: 600px) {
    .hebergement{
        column-gap: 0;
    }
}

@media (min-width: 925px) {
.hebergement-main {
    grid-template-columns: repeat(3, 1fr); }
}

.hebergement-wrap, .ppl, .hebergement-main {
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    padding: 2rem;
}

.hebergement{
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 6fr 3fr;
}

.hebergement-main{
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
}

.hebergement-main-h{
    grid-column: 1/-1;
}

.hebergement-card-title{
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #1f1f1f;
    margin-top: 6px !important;
}

.hebergement-main-card{
    width: auto;
    background-color: white;
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;;
    transition-duration: 0.5s;
}

.hebergement-card-img{
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
    height: 114px;


}

.hebergement-card-title {
    margin: 0.25rem 0.75rem 0 0.75rem;
}
.hebergement-card-description {
    margin: 0.25rem 0.75rem 0.25rem 0.75rem;
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    color: #1f1f1f;
}

.hebergement-review {
    margin: 0 0.75rem 0.25rem 0.75rem;
}
.hebergement-review-icon[data-active=true] {
    color: #0065FC;
}
.hebergement-review-icon[data-active=false] {
    color: #d9d9d9;
}

.hebergement-main-card:hover {
    transform: scale(0.92);
    color: #0065fc;
    cursor: pointer;
}


.hebergement-texte {
    font-size: 17px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #1f1f1f;
    font-weight: 600;
}

.ppl{
display: grid;
row-gap: 2rem;
align-items: start;
grid-template-rows: auto repeat(3, 1fr);
}

.ppl-title{
margin: 0;
display: flex;
font-weight: 600;
justify-content: space-between;
}

.ppl-card{
    height: 145px;
}


.ppl-wrap-content{
    display: flex;
    align-items: stretch;
    height: 100%;
    overflow: auto;
}

.ppl-wrap-img{
    position: relative;
    min-height: 100%;
    width: 33%;
    min-width: 33%;
    max-width: 33%;
}

.ppl-wrap-img-img{
    border-radius: 1rem 0 0 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.ppl-wrap-content-content{
    display: flex;
    flex-direction: column;
}
.ppl-wrap-content-content-space{
    flex: 1;
}
.hostingPopularhostingMainCard {
    height: 8.75rem;
}

@media (max-width: 1440px) {
    .hebergement {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
    .ppl {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto 10rem;
        column-gap: 2rem;
        grid-row-start: 1;
    }
    .ppl-title {
        grid-column: 1/-1;
    }
}


@media (min-width: 925px) {
    .hebergement-main {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 925px) and (min-width: 650px) {
    .hebergement-main {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 650px) {
    .hebergement-main {
        grid-template-columns: 1fr;
    }
    .hebergement-main-card{
        width: auto;
    }
    .hebergement-card-img{
        height: 155px;
    }
    .hebergement-card-title{
        font-size: 18px;
    }
}
@media (max-width: 1000px) {
    .ppl {
        grid-template-columns: 1fr;
        grid-template-rows: auto repeat(3, 9rem);
        border-radius: 0;
        margin: 15px -40px;
    }
    .hebergement-main{
        background-color: #fff;
        margin: 0 -40px;
    }
    main{
        padding: 0 30px;
    }
}

@media (max-width: 600px) {
    .ppl{
        margin: 15px -30px;
    }
    .hebergement-main{
        margin: 15px -30px;
    }
}


.activites{
    display: grid;
    column-gap: 2rem;
    margin: 4rem 0;
}

.activites-title{
    grid-column: 1/-1;
    margin-bottom: 30px;
}

.activites-card{
    box-shadow: 0 0 16px #0000002e;
    border-radius: 1.25rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition-duration: 0.5s;

}

.activites-card-wrap{
    position: relative;
    flex: 1;
}

.activites-card-wrap-img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.activites-card-title{
    margin: 1.2rem 1.5rem;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.02em;
}

.activites-card-1{
    width: auto;
    height: 446px;
}

.activites-card-2{
    width: auto;
    height: 235px;
}

.activites-card-3{
    width: auto;
    height: 446px;
}

.activites-card-4{
    width: auto;
    height: 195px;
}

.activites-card-5{
    width: auto;
    height: 167px;
}

.activites-card-6{
    width: auto;
    height: 211px;
}

.activites-card{

}

@media (min-width: 1100px) {
    .activites {
        /*grid-template-columns: repeat(4, 1fr); */
    }
    .activites-card-1 {
        grid-row: 2/7;
        grid-column: 1/2;
    }
    .activites-card-2 {
        grid-column: 2/3;
        grid-row: 2/5;
    }
    .activites-card-3 {
        grid-column: 3/4;
        grid-row: 2/7;
    }
    .activites-card-4 {
        grid-column: 4/5;
        grid-row: 2/3;
    }
    .activites-card-5 {
        grid-column: 2/3;
        grid-row: 6/7;
    }
    .activites-card-6 {
        grid-column: 4/5;
        grid-row: 4/7;
        margin-top: 20px;
    }
}


@media (max-width: 1100px) {
    .activites-card {
        width: 100%;
        height: 250px;
        margin-bottom: 30px;
    }
    .activites-card-1{
        order: 1;
    }
    .activites-card-2{
        order: 2;
    }
    .activites-card-5{
        order: 3;
    }
    .activites-card-3{
        order: 4;
    }
    .activites-card-4{
        order: 5;
    }
    .activites-card-6{
        order: 6;
    }
}
@media (max-width: 925px) {
    .activites-card {
        width: 100%;
        height: 250px;
        margin-bottom: 30px;
    }

}
@media (max-width: 650px) {
    .activites-card {
        width: 100%;
        height: 250px;
        margin-bottom: 30px;
    }
    .activites-card-title{
        font-size: 18px;
    }

    .activites-card-1{
        order: 1;
    }
    .activites-card-2{
        order: 2;
    }
    .activites-card-5{
        order: 3;
    }
    .activites-card-3{
        order: 4;
    }
    .activites-card-4{
        order: 5;
    }
    .activites-card-6{
        order: 6;
    }
}


.footer {
    background-color: #F2F2F2;
    width: 100%;
}
.footer-column {
    display: flex;
    max-width: 100%;
    width: 1440px;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
}
.footer-column-wrap {
    width: 30%;
    padding: 2rem 2rem;
    margin: 30px 0;
}
.footer-column-link {
    display: block;
    margin: 1rem 0;
}
.footer-column-link:hover {
    text-decoration: underline;
}
.footer-column-wrap-title {
    font-weight: 600;
}

@media (max-width: 750px) {
    .footer-column {
        flex-direction: column;
        padding: 2rem;
    }
    .footer-column-wrap {
        width: 100%;
        padding: 0;
        margin: 1rem 0;
    }
    .footer-column-wrap:first-child {
        margin-top: 0;
    }
    .footer-column-wrap:last-child {
        margin-bottom: 0;
    }
    .footer-column-wrap-title {
        margin: 0;
    }
    .footer-column-link:last-child {
        margin-bottom: 0;
    }
}


