/*-----------
   IMPORT
------------*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");


/*-----------
   BASE
------------*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
    box-sizing: border-box;
}

li{
    list-style: none;
}

/*-----------
   HEADER
------------*/

.section-1{
    position: relative;
    width: 100%;
    min-height: 120px;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 100px 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation{
    position: relative;
    display: flex;
}


.h-nav-link-1, .h-nav-link-2,.h-nav-link-3 {
    display: inline-block;
    margin-right: 40px;
    text-decoration: none;
    margin-left: 50px;
    font-size: 16px;
    transition-duration: 0.1s;
    color: inherit;
    padding: 40px 0;
    height: 100%;
}

.h-nav-link-1, .h-nav-link-2,.h-nav-link-3[data-active=true] {
    color: #0065FC;
}

.h-nav-link-1, .h-nav-link-2,.h-nav-link-3:hover {
    color: #0065FC;
}

.h-nav-link-2{
    color: #1F1F1F;
}

.h-nav-link-2:hover{
    color: #0065FC;
}

.h-sinscrire{
    font-weight: bold;
    color: #0065FC;
}

.h-hebergement{
    border-top: 4px solid #0065FC;
}

.h-nav-link-1{
    padding-top: 35px;
}


/*-----------
    MAIN
------------*/

.main {
    margin: auto;
    padding: 0 100px;
    box-sizing: border-box;
}

.search-title {
    color: #1F1F1F;
    margin-bottom: 0.5rem;
    font-size: 22px;
}

.search-subtitle {
    color: #1F1F1F;
    margin-top: 0;
    font-size: 16px;
}


.form{
    display: inline-flex;
    margin-top: 20px;
    width: 420px;
    height: 51px;
    border-radius: 15px;
    background: #fff;
    border: 2px solid #f2f2f2;
}

.form-icon{
    width: 52px;
    height: 49px;
    border-radius: 14px 0 0 14px;
    background: #f2f2f2;
}

.fa-map-marker-alt{
    padding: 15px 5px 10px 20px;
}

.rechercher{
    display: flex;
    flex-wrap: wrap;
    width: 140px;
    height: 48px;
    border-radius: 0 15px 15px 0;
    background: #0065fc;
    overflow: visible;
}
.form-link:visited{
    color: #0065fc;
}
.rechercher:visited{
    color: inherit;
}

.rechercher-text:visited{
    color: inherit;
}

.rechercher-text{
    padding: 15px 10px 15px 20px;
    color: white;
    font-weight: bold;
    font-size: 17px;
}

.form-search-input{
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: none;
    padding: 0 0;
    box-sizing: border-box;
    width: 14rem;
    font-size: 1rem;
    font-weight: bold;
    bottom: 532px;
    left: 160px;
    overflow: visible;
}

.form-search-input:focus{
    outline: none;
}

.form-search-input::placeholder {
    font-size: 1rem;
    color: #1F1F1F;
}

/*-----------
   FILTER
------------*/

.filter{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.filter-title{
    margin: 0 30px 0 0;
    display: flex;
    align-items: center;
}

/*---FilterName---*/

.filtre-economy{
    display: flex;
    align-items: center;
    width: 195px;
    height: 48px;
    border-radius: 24px;
    background: #fff;
    border: 2px solid #d9d9d9;
    bottom: 440px !important;
    left: 160px;
    margin-right: 20px;
    transition-duration: 0.5s;
}

.filtre-familial{
    display: flex;
    align-items: center;
    width: 145px;
    height: 48px;
    border-radius: 24px;
    background: #fff;
    border: 2px solid #d9d9d9;
    bottom: 440px !important;
    left: 160px;
    margin-right: 2rem;
    transition-duration: 0.5s;
}

.filtre-chic{
    display: flex;
    align-items: center;
    width: 185px;
    height: 48px;
    border-radius: 24px;
    background: #fff;
    border: 2px solid #d9d9d9;
    bottom: 440px !important;
    left: 160px;
    margin-right: 2rem;
    transition-duration: 0.5s;
}

.filtre-animals{
    display: flex;
    align-items: center;
    width: 230px;
    height: 48px;
    border-radius: 24px;
    background: #fff;
    border: 2px solid #d9d9d9;
    bottom: 440px !important;
    left: 160px;
    margin-right: 2rem;
    transition-duration: 0.5s;
}

.filtre-animals:hover{
    transform: scale(0.92);
    color: #0065fc;
    cursor: pointer;
}


.filtre-economy:hover{
    transform: scale(0.92);
    color: #0065fc;
    cursor: pointer;
}

.filtre-chic:hover{
    transform: scale(0.92);
    color: #0065fc;
    cursor: pointer;
}

.filtre-familial:hover{
    transform: scale(0.92);
    color: #0065fc;
    cursor: pointer;
}

/*---FilterType---*/
.filter-round{
    margin: -2px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 48px;
    height: 48px;
    background: #deebff;
    border-radius: 100%;
}

/*---FilterIcon---*/

.filtre-economy-icon{
   color: #0065fc;
}

.filtre-familial-icon{
    color: #0065fc;
}

.filtre-chic-icon{
    color: #0065fc;
}

.filtre-animals-icon{
    color: #0065fc;
}

/*---FilterTitle---*/

.filtre-economy-title{
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}

.filtre-familial-title{
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}

.filtre-chic-title{
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}

.filtre-animals-title{
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}